<hr />
<%- js('js/Valine.min.js') %>
<div id="vcomments"></div>
<script>
  new Valine({
    el: "#vcomments",
    appId: "2RPLQGvxicb06F127wr1yjsM-9Nh9j0Va",
    appKey: "GOiYet2qQ4iPWbC93HrgFmpc",
    serverURLs: 'https://blog-waline.w3cay.com',
  });
</script>
