<div class="row mt-2">
  <% if (theme.footer) { %>
  <div class="columns">
    <div class="row footer-banner">
      <a  href="https://w3cay.com">
        <img src="/images/footer-logo.png" alt="分享全球有趣应用"/>
      </a>
      <div class="footer-desc">
        本站旨在分享全球有趣有意思的网站、小游戏、APP 以及 AI 相关趣味使用经验，给大家枯燥的生活添加点乐趣，在这个“兴趣小岛🏝️” 感受好奇心和探索精神。本站资源部分为网络收集，如有侵权请联系删除
      </div>
    </div>

    <p id="madewith">
      <a
        class="footer-link icon"
        href="https://hexo.io"
        target="_blank"
        style="text-decoration: none"
        rel="noreferrer"
        aria-label="Hexo.io"
      >
      </a>
      <% if (theme.placename && theme.placelink) { %> Copyright ©
      <a href="<%- theme.placelink %>"><%- theme.placename %></a>
      <a href="/sitemap.xml">网站地图 | </a>
      <a href="https://beian.miit.gov.cn" target="_blank" rel="noreferrer"
        >豫ICP备2022016638号-1</a
      >
    </p>
    <% } %>
  </div>
  <% } %>
</div>
