<div class="row">
  <h1 style="display: none;">万趣岛</h1>
  <h2 class="mt-2 vertical-center">
    <a href="/">
      <img class="home-avatar" alt="万趣岛" src="https://cdn-image.w3cay.com/imgs/logo.png" />
    </a>
  </h2>

  <div class="twelve columns">
    <div class="menu-head">
      <%- partial('partial/menu') %> <% if (theme.email) { %> <% if (typeof
      obfuscate === "function") { %>
      <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" class="ml"
        >Email</a
      >
      <% } else { %>
      <a href="mailto:<%= theme.email %>" target="_blank" class="ml">Email</a>
      <% } %> <% } %>
    </div>
    <hr class="header-hr" />
  </div>
</div>
